:root {
    font-size: 16px;
}

body {
    font-size: 1.3125rem;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

img {
    display: block;
    max-width: 100%;
}


/*//////////////////////
Header
//////////////////////*/

header, ul, section {
    display: flex;
    background: rgba(102,118,138,1);
    font-family: 'Oswald', sans-serif;
}

header {
    justify-content: space-between;
    align-items: center;
    height: 6.25em;
}

ul {
    gap: 1.25em;
    color: white;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    font-size: 1rem;
}

a,
img,
.video {
    cursor: pointer;
}

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: rgba(102,118,138,1);
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 40px;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/*//////////////////////
Main Section
//////////////////////*/

section.welcome {
    flex-direction: column;
    align-items: center;
    min-height: 31.25rem;
    color: white;
    padding-top: 1.875rem;
}

section.welcome h1 {
    font-size: 5rem;
    max-width: 80%;
    text-align: center;
}

section.welcome p {
    font-size: 1.7rem;
    max-width: 80%;
    text-align: center;
}

section.welcome h3 {
    font-weight: 200;
    font-size: 1.5rem;
}

.videoDiv {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*//////////////////////
Why Section
//////////////////////*/

section.why,
section.volunteer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 34.375rem;
}

section.why h2,
section.volunteer h2 {
    font-size: 4rem;
    color: rgb(41, 41, 41);
    margin: 0%;
    padding: 0;
}

section.why p,
section.volunteer p {
    font-size: 1.7rem;
    color: rgb(41, 41, 41);
    max-width: 80%;
    margin: 0%;
    padding-top: 1.25rem;
    text-align: center;
    font-weight: 200;
}

/*//////////////////////
Visit Section
//////////////////////*/

section.visit {
    display: flex;
    justify-content: center;
    background-color: rgba(219,223,226,1);
}

section.visitGym,
section.visitYou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 37.5rem;
    background-color: rgba(219,223,226,1);
}

.visitImg {
    margin-top: 1.875rem;
    width: 28.125rem;
    height: 15.625rem;
    background-color: rgba(102,118,138,1);
}

section.visit section h3 {
    font-size: 2rem;
    margin-top: 2.5rem;
}

section.visit section p {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 200;
    width: 31.25rem;
}

section.visit section ul,
.visitLink {
    background-color: rgba(219,223,226,1);
}

section.visit section ul,
section.volunteer ul {
    border: 1px solid rgba(102,118,138,1);
    text-align: center;
    padding: 0.75rem 2.5rem;
}

.visitLink a,
.volunteerLi a {
    color:black;
    padding: 0.9375rem 3.125rem;
    font-size: 1.3rem;
}

/*//////////////////////
Volunteer Section 
//////////////////////*/

section.volunteer {
    height: 37.5rem;
}

section.volunteer h2 {
    text-align: center;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    max-width: 80%;
}

section.volunteer ul {
    margin-top: 2.5rem;
    background-color: white;
}

/*//////////////////////
Footer Section 
//////////////////////*/

footer {
    height: 17.1875rem;
    color: white;
}

footer,
footer section {
    background-color: rgba(22,31,43,1);
}

footer section.container {
    display: flex;
    justify-content: space-between;
}

.borderFooter {
    margin: 0rem 2.5rem;
    height: 0.0625rem;
    width: 100%;
    background-color: white;
}

.leftFooterNav,
.leftFooterNav section,
.rightFooterContact,
.rightFooterContact section {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-size: 1rem;
}

.socialLogos{
    margin: 25px 0px 0px 30px;
}

.footerNav h4,
.footerNav ul {
    margin: 10px 20px 0px 40px;
}

.footerNav h4 {
    color: rgba(102,118,138,1);
}

.footerNav ul {
    background-color: rgba(22,31,43,1);
    margin-left: 0px;
    font-weight: 200;
}

.rightFooterContact {
    margin: 25px 40px;
    text-align: right;
}

.rightFooterContact h4,
.rightFooterContact p {
    margin: 10px 0px 0px 40px;
}

.rightFooterContact p {
    font-weight: 200;
}

.taxContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 1rem;
}

.taxContainer p {
    margin-left: 40px;
}

.taxContainer img {
    margin-right: 25px;
}


/*//////////////////////
Media Queries 
//////////////////////*/

@media (max-width: 480px) {
    :root {
        font-size: 10px;
    }

    section.visit {
        flex-direction: column;
        align-items: center;
    }
    
    footer section.container {
        flex-direction: column;
        align-items: center;
    }

    .leftFooterNav,
    .leftFooterNav section,
    .rightFooterContact,
    .rightFooterContact section {
        align-items: center;
        font-size: 1.4rem;
    }

    .footerNav h4,
    .footerNav nav ul {
    margin: 0rem;
    padding: .5rem 0rem;
    }

    .rightFooterContact {
        margin: 4rem 0rem;
        text-align: center;
    }

    .rightFooterContact h4,
    .rightFooterContact p {
        margin: 10px 0rem 0rem 0rem;
    }

    .socialLogos {
        width: 50%;
        margin: 3rem 0rem;
    }

    ul li a {
        font-size: 1.3rem;
    }
    
}


@media (min-width: 481px) and (max-width: 768px) {
    :root {
        font-size: 12px;
    }

    section.visit {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        font-size: 14px;
    }

    section.visit {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    :root {
        font-size: 16px;
    }
}