body {

}

/*//////////////////////
Header
//////////////////////*/

header, ul, section {
    display: flex;
    background: rgba(102,118,138,1);
    font-family: 'Oswald', sans-serif;
}

header {
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

ul {
    gap: 20px;
    color: white;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: rgba(102,118,138,1);
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 40px;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/*//////////////////////
Main Section
//////////////////////*/

section.welcome {
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    color: white;
    padding-top: 30px;
}

section.welcome h1 {
    font-size: 5em;
    width: 80%;
    text-align: center;
}

section.welcome p {
    font-size: 1.5em;
    width: 80%;
    text-align: center;
}

section.welcome h3 {
    font-weight: 200;
    font-size: 1.5em;
}

.videoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*//////////////////////
Why Section
//////////////////////*/

section.why,
section.volunteer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}

section.why h2,
section.volunteer h2 {
    font-size: 3.5em;
    color: rgb(41, 41, 41);
    margin: 0%;
    padding: 0;
}

section.why p,
section.volunteer p {
    font-size: 1.75em;
    color: rgb(41, 41, 41);
    width: 550px;
    margin: 0%;
    padding-top: 20px;
    text-align: center;
    font-weight: 200;
}

/*//////////////////////
Visit Section
//////////////////////*/

section.visit {
    display: flex;
    justify-content: center;
    background-color: rgba(219,223,226,1);
}

section.visitGym,
section.visitYou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 600px;
    background-color: rgba(219,223,226,1);
}

.visitImg {
    margin-top: 30px;
    width: 450px;
    height: 250px;
    background-color: rgba(102,118,138,1);
}

section.visit section h3 {
    font-size: 1.75em;
    margin-top: 40px;
}

section.visit section p {
    margin-top: 0;
    font-size: 1.45em;
    text-align: center;
    font-weight: 200;
    width: 500px;
}

section.visit section ul,
.visitLink {
    background-color: rgba(219,223,226,1);
}

section.visit section ul,
section.volunteer ul {
    border: 1px solid rgba(102,118,138,1);
    text-align: center;
    padding: 6px 40px;
}

.visitLink,
.volunteerLi {
    color:black;
    padding: 12px 50px;
}

/*//////////////////////
Volunteer Section 
//////////////////////*/

section.volunteer {
    height: 600px;
}

section.volunteer h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

section.volunteer ul {
    margin-top: 40px;
    background-color: white;
}